tool:
  snitch:
  # find license in /Library/Application Support/Objective Development/Little Snitch/registration.xpl
  # after having activated Little Snitch manually
    license: |
      <?xml version="1.0" encoding="UTF-8"?>
      <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
      <plist version="1.0">
      <dict>
        <key>d8e8fca2dc0</key>
        <data>
        PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXAK
        </data>
        <key>57a54c8e2</key>
        <dict>
          <key>owner</key>
          <string>user</string>
        </dict>
        <key>b5470458133</key>
        <data>
        PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwCg==
        </data>
      </dict>
      </plist>
