# vim: ft=yaml
#
# Set default values.
---
values:
  lookup:
    pkg:
      manager: brew
      name: homebrew/cask/little-snitch
    paths:
      confdir: 'Library/Preferences'
      conffile: 'at.obdev.littlesnitch.plist'
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
...
