# -*- coding: utf-8 -*-
# vim: ft=yaml
#
# Set default values.
---
values:
  lookup:
    pkg:
      manager: brew
      name: homebrew/cask/little-snitch
    paths:
      confdir: 'Library/Preferences'
      conffile: 'at.obdev.littlesnitch.plist'
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
  # Just here for testing
  added_in_defaults: defaults_value
  winner: defaults
...
